.app {
  background-color: var(--primary-color);
  text-align: center;

  display: flex;
  height: 100%;
  width: 100%;
  color: var(--accent-light);
}

.app__content__title {
  font-size: 28px;
}

.app__content__title--h2 {
  font-size: 20px;
  text-align: left;
}

.app__content {
  z-index: 100;
  background: rgba(0,0,0, 0.6);

  padding: 10px 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

.app__upload-action__icon {
  width: 75px;
  height: 75px;
}

.app__loader {
  color: var(--accent-light);
}

.app_predictions-list {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__predictions-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app_predictions-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
